* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100vh;
}
main {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}

/* ----------------------------------------------------------------- */

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: blueviolet;
}
nav li {
  display: inline;
  padding: 10px;
}
nav li:hover {
  background-color: brown;
  cursor: pointer;
}
.disabled {
  display: none;
}

/* ----------------------------------------------------------------- */

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  margin: 40px auto;
}
.button_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  padding: 5px;
}
.button_container button {
  width: 30px;
  height: 30px;
}
.form_login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.form_login_container form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form_login_container form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.link_register {
color: green;
}
.link_register:hover {
    cursor: pointer;
}

/* ----------------------------------------------------------------- */

.register_container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  background-color: greenyellow;
  margin: 40px auto;
}
.button_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10%;
  padding: 5px;
}
.button_container button {
  width: 30px;
  height: 30px;
}
.form_register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.form_register_container form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form_register_container form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* ----------------------------------------------------------------- */

